# Python
venv/
__pycache__/
*.pyc

# Secrets & local config
.env

# GCP credentials (กันพลาด ถึงจะใช้ ADC ก็ตาม)
*.json
!config/**/*.json

# OS / editor
.DS_Store
.vscode/

# Local data outputs
data/

# dbt artifacts
target/
dbt_packages/
logs/
steam_dbt/target/
steam_dbt/dbt_packages/
steam_dbt/logs/